.sign-content
  .sign-header
    .sign-header__left
      = image_tag asset_path('logo/logo.png'), class: "sign-header__left--icon"
    .sign-header__right
      %ul.active
        %li.active__left
          会員情報
          .status
        %li.active__center
          電話番号認識
          .status
        %li.active__right
          完了
          .status

  .sign-content__main
    .sign-content__main--list
      %h1.content-top 会員情報入力
      = form_with(model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true) do |f|
        = render "devise/shared/error_messages", resource: resource
        .new_user__main
          .main-first
            = f.label :"ニックネーム", class: "main-name"
            %span.require-text 必須
            = f.text_field :nickname, autofocus: true, placeholder: "例) フリマ太郎", class: "main-text"
          .main-addres
            = f.label :"メールアドレス", class: "main-name"
            %span.require-text 必須
            = f.text_field :email, autofocus: true, placeholder: "PC・携帯どちらでも可", class: "main-text"
          .main-password
            = f.label :"パスワード", class: "main-name"
            %span.require-text 必須
            = f.password_field :password, autocomplete: "off", placeholder: "7文字以上の半角英数字", class: "main-text"
            %p.main-text__info ※ 英字と数字の両方を含めて設定したください
            .password-check
              .password-check__list
                %input{ value: "", type: "check_box", id: "checkbox"}
                .icon-check
                %label{ class: "check__list--box"}パスワードを表示する
          .main-password
            = f.label :"パスワード再確認", class: "main-name"
            %span.require-text 必須
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: "7文字以上の半角英数字", class: "main-text"
          .main-person
            %label.main-person__name 本人確認
            %p.main-person__text 安心安全にご利用にいただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .main-family
            .main-family__top
              = f.label :"お名前(全角)", class: "main-name"
              %span.require-text 必須
            = f.text_field :last_name, autofocus: true, placeholder: "例) 山田", class: "main-text__left"
            = f.text_field :first_name, autofocus: true, placeholder: "例) 彩", class: "main-text__right"
          .main-family__kana
            .main-family__top
              = f.label :"お名前カナ(全角)", class: "main-name"
              %span.require-text 必須
            = f.text_field :last_name_kana, autofocus: true, placeholder: "例) ヤマダ", class: "main-text__left"
            = f.text_field :first_name_kana, autofocus: true, placeholder: "例) アヤ", class: "main-text__right"
          .main-birthday
            = f.label :"生年月日 (年/月/日)", class: "main-name"
            %span.require-text 必須
            .main-birthday__text
              .main-birthday__text--left
                = f.date_select :birthday, use_month_numbers: true, prompt:"--", start_year:Time.now.year, end_year:1900, default: Date.new(1989, 1, 1)
                
          %p.birthday-text ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        .main-bottom
          .main-bottom__text
            %p.main-bottom__text--center
              「次へ進む」のボタンを押すことにより、
              = link_to "利用規約", "#", class: "center-btn"
              に同意したものとみなします
          = f.submit "次へ進む", class: 'main-bottom__btn'
          .main-bottom__info
            %p.bottom__info
              = link_to "#", class: "right-btn" do
                本人情報の登録について
                %i.icon-info
          .main-bottom__under
            %p.bottom-under
              このサイトは、reCAPTCHAによって保護されており、Google
              = link_to "プライバシーポリシー", "#", class: "bottom-under__top"
              と
              = link_to "利用規約", "#", class: "bottom-under__last"
              が適用されます。

        
  .sign
    .sign-footer
      .sign-footer__top
        %ul.footer-top
          %li.footer-top__left
            = link_to "プライバシーポリシー", "#", class: "footer-top__left--text"
          %li.footer-top__center
            = link_to "フリマ利用規約", "#", class: "footer-top__left--text"
          %li.footer-top__right
            = link_to "特定商取引に関する表記", "#", class: "footer-top__left--text"
      = image_tag asset_path('logo/logo.png'), class: "sign-footer__center"
      .sign-footer__bottom
        %small.sign-footer__bottom--text © Furima, Inc.

