
.user-page__main--content
  .header-container
    .header
      .header__avatar
        -# アバターアイコン
      .header__user-name
        %p
          = current_user.nickname
      .header__info
        .header__info--assessment
          %p.title 評価
          %p.num 1
        .header__info--exhibit
          %p.title 出品
          %p.num 2

  %ul.user-page-tabs
    %li.user-page-tabs--tab.is-active
      お知らせ
    %li.user-page-tabs--tab
      やることリスト

  %ul.notification-container.is-show
    -# - notice.each do |i|
    %li.notification-container__list.first-list
      = link_to user_path, class: "notice-links top-link" do
        .logo-box
          = image_tag asset_path('logo/box-logo.png'), height: '100%', width: '100%', class: 'logo'
        %p.message
          事務局から個別メッセージ「登録完了のお知らせ」
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.notification-container__list
      = link_to "user_path", class: "notice-links" do
        .logo-box
          = image_tag asset_path('logo/box-logo.png'), height: '100%', width: '100%', class: 'logo'
        %p.message
          事務局から個別メッセージ「パスワード再設定のお願い」
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.notification-container__list
      = link_to "user_path", class: "notice-links" do
        .logo-box
          = image_tag asset_path('logo/box-logo.png'), height: '100%', width: '100%', class: 'logo'
        %p.message
          事務局から個別メッセージ「出品商品にコメントされました」
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.notification-container__submit
      = link_to "一覧を見る", "user_path", class: "notice-links all-list"
  
  %ul.notification-container
    %li.notification-container__list
    %li.notification-container__list
    %li.notification-container__list
    %li.notification-container__submit
      = link_to "一覧を見る", "user_path", class: "notice-links all-list"

  .transaction
    %h1.transaction__heading
      購入した商品
    %ul.transaction__tabs
      %li.transaction__tabs--tab.is-active-two
        取引中
      %li.transaction__tabs--tab
        過去の取引
    .transaction__log
      %p.transaction__log--message.is-show-two
        取引中の商品がありません
      %p.transaction__log--message
        過去の取引はありません