
.user-page__main--sidebar
  %ul.primary-nav
    %li.nav-list.first-list
      = link_to "user_path", class: "user-links top-link" do
        %p.nav-destination マイページ
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination お知らせ
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination やることリスト
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination いいね！一覧
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to new_item_path, class: "user-links" do
        %p.nav-destination 出品する
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 出品した商品 - 出品中
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 出品した商品 - 取引中
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 出品した商品 - 売却済み
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 購入した商品 - 取引中
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 購入した商品 - 過去の取引
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination ニュース一覧
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 評価一覧
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination ガイド
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination お問い合わせ
        = icon('fas', 'chevron-right', class: 'nav-icon')

  %h1.heading
    FURIMA PAY
  %ul.pay-nav
    %li.nav-list.first-list
      = link_to "user_path", class: "user-links top-link" do
        %p.nav-destination 売上・振込申請
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination ポイント
        = icon('fas', 'chevron-right', class: 'nav-icon')

  %h1.heading
    設定
  %ul.configuration-nav
    %li.nav-list.first-list
      = link_to "user_path", class: "user-links top-link" do
        %p.nav-destination プロフィール
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 発送元・お届け先住所変更
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to new_user_card_path(params[:id]), class: "user-links" do
        %p.nav-destination 支払い方法
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination メール/パスワード
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 本人情報
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to "user_path", class: "user-links" do
        %p.nav-destination 電話番号の確認
        = icon('fas', 'chevron-right', class: 'nav-icon')
    %li.nav-list
      = link_to destroy_user_session_path, method: :delete, class: "user-links" do
        %p.nav-destination ログアウト
        = icon('fas', 'chevron-right', class: 'nav-icon')