.sign-content
  .sign-header
    .login-header
      = image_tag asset_path('logo/logo.png'), class: "sign-header__left--icon"
  .sign-content__main
    .login-list
      .login-list__top
        %p.login-list__top--text アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path, class: "login-list__top--btn"
      .login-list__center
        = link_to user_facebook_omniauth_authorize_path, method: :post, class: "login-top__btn" do
          = icon('fab', 'facebook-square')
          .icon-facebook Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "login-bottom__btn" do
          = icon('fab', 'google')
          .icon-google Googleでログイン
      = form_with(model: @user, url: user_session_path, local: true) do |f|
        .login-list__form
          .login-form__main
            .login-addres
              = f.text_field :email, autofocus: true, placeholder: "メールアドレス", class: "login-text"
            .login-password
              = f.password_field :password, autocomplete: "off", placeholder: "パスワード", class: "login-text"
            .login-confirmation
              .login-confirmation__text
                .login-confirmation__text--check

            %button{ type: "submit", class: "login-bottom__btn" } ログイン
            = link_to "#", class: "right-btn" do
              パスワードをお忘れの方

  .sign
    .sign-footer
      .sign-footer__top
        %ul.footer-top
          %li.footer-top__left
            = link_to "プライバシーポリシー", "#", class: "footer-top__left--text"
          %li.footer-top__center
            = link_to "フリマ利用規約", "#", class: "footer-top__left--text"
          %li.footer-top__right
            = link_to "特定商取引に関する表記", "#", class: "footer-top__left--text"
      = image_tag asset_path('logo/logo.png'), class: "sign-footer__center"
      .sign-footer__bottom
        %small.sign-footer__bottom--text © Furima, Inc.


