.sign-content
  .sign-header
    .login-header
      = image_tag asset_path('logo/logo.png'), class: "sign-header__left--icon"
  .sign-content__main
    .login-list
      .login-list__top
        %p.login-list__top--text アカウントをお持ちでない方はこちら
        = link_to "新規会員登録", new_user_registration_path, class: "login-list__top--btn"
      .login-list__center
        %button{ type: "submit", class: "login-top__btn" }
          = icon('fab', 'facebook-square')
          Fecebookでログイン
        %button{ type: "submit", class: "login-bottom__btn" }
          = icon('fab', 'google')
          Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-list__form
          .login-form__main
            .login-addres
              %input.login-text{ value: "", name: "mail", placeholder: "メールアドレス", type: "email" }
            .login-password
              %input.login-text{ value: "", name: "password", placeholder: "パスワード", type: "password" }
            .login-confirmation
              .login-confirmation__text
                .login-confirmation__text--check

            %button{ type: "submit", class: "login-bottom__btn" } ログイン
            = link_to "#", class: "right-btn" do
              パスワードをお忘れの方

  .sign
    .sign-footer
      .sign-footer__top
        %ul.footer-top
          %li.footer-top__left
            = link_to "プライバシーポリシー", "#", class: "footer-top__left--text"
          %li.footer-top__center
            = link_to "フリマ利用規約", "#", class: "footer-top__left--text"
          %li.footer-top__right
            = link_to "特定商取引に関する表記", "#", class: "footer-top__left--text"
      = image_tag asset_path('logo/logo.png'), class: "sign-footer__center"
      .sign-footer__bottom
        %small.sign-footer__bottom--text © Furima, Inc.


