%header
  .header-container
    .header-container__top
      .header-container__top--logo
        = link_to "/" do
          = image_tag asset_path('logo/logo.png'), height: '100%', width: '100%', class: 'logo'
      .header-container__top--search
        %input.input-area{placeholder: "キーワードから探す", type: "text", class: "input-area"}
        %span<>
        %button
          = image_tag asset_path('icon/icon-search 1.png'), class: 'icon'
    .header-container__nav
      %ul.header-container__nav--list-left
        %li.category-list
          = link_to "カテゴリー", "/", class:"link"
        %li.brand-list
          = link_to "ブランド", "/", class:"link"
      %ul.header-container__nav--list-right
        - if user_signed_in? 
          %li.likes
            = link_to user_path(current_user.id), class:"link" do
              = icon('far', 'heart', class: "header-icon")
              %p いいね！一覧
          %li.notification
            = link_to user_path(current_user.id), class:"link" do
              = icon('far', 'bell', class: "header-icon")
              %p お知らせ
          %li.to-do-list
            = link_to user_path(current_user.id), class:"link" do
              = icon('fas', 'check', class: "header-icon")
              %p やることリスト
          %li.mypage
            = link_to user_path(current_user.id), class:"link" do
              .avatar-icon
              %p マイページ
        - else
          %li.login
            = link_to "ログイン", new_user_session_path, class:"link"
          %li.sign-up
            = link_to "新規会員登録", new_user_registration_path, class:"link"