%header
  .header-container
    .header-container__top
      .header-container__top--logo
        = link_to "/" do
          = image_tag 'logo/logo.png', height: '100%', width: '100%', class: 'logo'
      .header-container__top--search
        %input.input-area{placeholder: "キーワードから探す", type: "text", class: "input-area"}
        %span<>
        %button
          = image_tag 'icon/icon-search 1.png', class: 'icon'
    .header-container__nav
      %ul.header-container__nav--list-left
        %li.category-list
          = link_to "カテゴリー", "/", class:"link"
        %li.brand-list
          = link_to "ブランド", "/", class:"link"
      %ul.header-container__nav--list-right
        %li.login
          = link_to "ログイン", "/", class:"link"
        %li.sign-up
          = link_to "新規会員登録", "/", class:"link"

%section.top-main
  .container
    .container__title
      %h2 人生を変えるフリマアプリ
    %p.container__description
      FURIMAはだれでもかんたんに出品・購入できる
      %br/
      フリマアプリです
    .container__transition
      -# = link_to "/" do
      -#   = image_tag 'app_store_badge.svg', width: "100%", height: "100%"
      -# = link_to "/" do
      -#   = image_tag 'icon/google-play-badge.png', height: '100%', width: '100%', class: 'store-icon2'