
.section-fourth
  .theme
    FURIMAの特徴
  .small-line

  .main-contents
    .content
      .content-imgs
        .content-img.img1
      .text-middle
        簡単に売り買いできる
      .text-bottom
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！

    .content
      .content-imgs
        .content-img.img2
      .text-middle
        売上金は即日振込みに対応
      .text-bottom
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        
    .content
      .content-imgs
        .content-img.img3
      .text-middle
        様々な支払いに対応
      .text-bottom
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。








.section-fifth
  %section.section-fifth__contents
    .contents-theme
      ピックアップカテゴリー
    .contents-text=link_to "新規投稿商品", "#"


    .innerbox
      - if @items.count == 0
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
                  
      - else

        - @items.each do |i|
          .product.item-img
            = link_to item_path(i.id), class: "a-link" do
              = image_tag asset_path("#{i.images.first.image}"), class: "product-img"
              .product-body
                .product-name
                  = i.title
                .product-detail
                  %ul.detail-lists
                    %li
                      = i.price
                    %li
                      %i
                        = icon( "fas", "star", class: "star-icon")
                        = i.likes.count
                  %p.intax
                    (税込)
                    -# ----------------------------------------
                    -# i.buyer_id が nil かどうかを条件分岐。trueなら 正解, falseなら 不正解 と表示する
                  - if i.buyer_id.present?
                    .buyer-id-true-false__sold
                      .buyer-id-true-false__sold__sold-sticker
                        SOLD
                  - else 
                    .buyer-id-true-false__sale
                      .buyer-id-true-false__sale__sale-sticker
                        SALE

                    

  %section.section-fifth__contents
    .contents-theme
      ピックアップブランド
    .contents-text=link_to "アーカイブ", "#"
    
    .innerbox
      - if @items.count == 0
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
        .product
          = link_to "/", class: "a-link" do
            = image_tag asset_path("pict/sample1.png"), class: "product-img"
            .product-body
              .product-name
                sample1
              .product-detail
                %ul.detail-lists
                  %li
                    300000
                  %li
                    %i
                      = icon( "fas", "star", class: "star-icon")
                    0
                %p.intax
                  (税込)
                  
      - else

        - @items_old.each do |i|
          .product.item-img
            = link_to item_path(i.id), class: "a-link" do
              = image_tag asset_path("#{i.images.first.image}"), class: "product-img"
              .product-body
                .product-name
                  = i.title
                .product-detail
                  %ul.detail-lists
                    %li
                      = i.price
                    %li
                      %i
                        = icon( "fas", "star", class: "star-icon")
                        = i.likes.count
                  %p.intax
                    (税込)
                  - if i.buyer_id.present?
                    .buyer-id-true-false__sold
                      .buyer-id-true-false__sold__sold-sticker
                        SOLD
                  - else 
                    .buyer-id-true-false__sale
                      .buyer-id-true-false__sale__sale-sticker
                        SALE
