.top
  = render "header"
  = render "first-index"
  = render "second-index"
  = render "third-index"
  = render "fourth-index"
  = render "footer"

.push-icon
  %span.push-icon__text
    出品する
  = image_tag asset_path('icon/icon_camera.png'), class: 'camera-icon'