%h1 a
= @item.title
%br
%span 商品詳細
= @item.text
%br
%span カテゴリー
= @item.category_id
%br
%span 商品の状態
= @item.status
%br
%span 配送料の負担
= @item.delivery_charge.charge
%br
%span 配送元地域
= @item.delivery_origin
%br
%span 配送サイズ
= @item.delivery_size
%br
%span 配送方法
= @item.delivery_method.name
%br
%span 配送の目安
= @item.delivery_days
%br
%span 価格
= "#{@item.price}" + '円'

.image
= image_tag asset_path("#{@item.images.first.image}")

