.exhibit-footer
  .exhibit-footer__text
    %ul.exhibit-footer-ul
      %li.exhibit-footer-list
        = link_to 'プライバシーポリシー', '#', class: 'exhibit-footer-link'
      %li.exhibit-footer-list
        = link_to 'メルカリ利用規約', '#', class: 'exhibit-footer-link'
      %li.exhibit-footer-list
        = link_to '特定商取引に関する表記', '#', class: 'exhibit-footer-link'

  .exhibit-footer__logo
    = link_to '/', class: 'footer-logo' do
      = image_tag asset_path("logo/logo-white.png"), class: 'footer-logo'
  .exhibit-footer__appname
    %p.exhibit-last @FURIMA